.table{
    min-width: 600px;
    border-radius: 6px;
    margin-top: 50px;
}

.tableTitle{
    display: flex;
    justify-content: space-between;
    background: #191818;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0 1rem;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableContent{
    margin: 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.tableRow td, .tableRow th{
    padding: .75rem;
}

.tableRow{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.tableRow:nth-child(even){
    background-color: #ededed;
}