.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #191818;
    color: #fff;
    z-index: 100;
    position: fixed;
}

.title {
    padding-left: 1rem;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}